body
{
  color: white;
  background:maroon;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#emotion_name ,#emotion_name_2  
{
  color: black;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}
.heading{
  font-size: 30px;
  border-radius: 10px;
  font-family: 'Pattaya', sans-serif;
}
label{
  color:turquoise;
  font-family: 'Permanent Marker', cursive;
  font-weight: 600;
  letter-spacing: 1px;
}
